@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.login {
    background: linear-gradient(to right, #2ff4f76b, #07609c6c), url('../../assets/abstract.jpeg') !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    
}

.login-container {
    background: rgba(255, 255, 255, 0.8);
    
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 400px;
    
}

h1 {
    color: #333;
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 0px;
    padding: 0px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 0px;
}

p {
    font-size: 18px;
    color: #333;
    font-weight: 500;
}

.input-group {
    margin-bottom: 20px;
    width: 100%;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #333;
    font-weight: 500;
}

input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
}

.btn-wrapper {
    display: flex;
    gap: 10px;
    width: 100%;
    margin-top: 20px;
}

button {
    flex: 1;
    padding: 12px;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: background 0.3s ease, color 0.3s ease;
}

.activebtn {
    background: #4a00e0;
    color: #fff;
    border: none;
}

.activebtn:hover {
    background: #7b2ff7;
}

.nonactive {
    background: #f5f4f7;
    color: #4a00e0;
    border: 2px solid #4a00e0;
}

.nonactive:hover {
    background: #e1e0e3;
}

.forgot-password {
    margin-top: 15px;
}

.forgot-password a {
    color: #4a00e0;
    text-decoration: none;
    font-weight: 500;
}

.forgot-password a:hover {
    text-decoration: underline;
}
